// Import UIkit default theme (or uikit.scss with only core styles)

// 1. Your custom variables and variable overwrites.
@import "theme/variables";

// 2. Import default variables and available mixins.
@import "../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@import "theme/main";
@import "theme/login";
@import "theme/menu-secondary";

@import "theme/oc-alert";
@import "theme/oc-app-container";
@import "theme/oc-app-menu";
@import "theme/oc-autocomplete";
@import "theme/oc-avatar";
@import "theme/oc-loader";
@import "theme/oc-button";
@import "theme/oc-progress-pie";
@import "theme/oc-checkbox";
@import "theme/oc-sidebar-nav-item";
@import "theme/oc-file";
@import "theme/oc-icon";
@import "theme/oc-search";
@import "theme/oc-star";
@import "theme/oc-public-share-icon";
@import "theme/oc-switch";
@import "theme/oc-text-input";
@import "theme/oc-transitions";
@import "theme/oc-user-menu";

// 4. Import UIkit.
@import "../../node_modules/uikit/src/scss/uikit-theme.scss";
