// 1. Your custom variables and variable overwrites.
@import "../assets/tokens/ods";
@import "theme/variables";

// 2. Import Vendor.
@import "../../node_modules/tippy.js/dist/tippy";

// 4. Your custom mixin overwrites.
@import "theme/animations";
@import "theme/background";
@import "theme/helper";
@import "theme/login";
@import "theme/oc-card";
@import "theme/oc-flex";
@import "theme/oc-form";
@import "theme/oc-height";
@import "theme/oc-position";
@import "theme/oc-spacing";
@import "theme/oc-text";
@import "theme/oc-transitions";
@import "theme/oc-visibility";
@import "theme/oc-width";
