$oc-breakpoint-large-default: 1200px;
$oc-breakpoint-large-max: 1599px;
$oc-breakpoint-medium-default: 960px;
$oc-breakpoint-medium-max: 1199px;
$oc-breakpoint-small-default: 640px;
$oc-breakpoint-small-max: 959px;
$oc-breakpoint-xlarge: 1600px;
$oc-breakpoint-xsmall-max: 639px;
$oc-color-background-default: rgb(255, 255, 255);
$oc-color-background-highlight: rgb(237, 243, 250);
$oc-color-background-muted: rgb(248, 248, 248);
$oc-color-border: rgb(236, 235, 238);
$oc-color-input-bg: rgb(240, 244, 248);
$oc-color-input-border: rgb(206, 221, 238);
$oc-color-input-text-default: rgb(4, 30, 66);
$oc-color-input-text-muted: rgb(76, 95, 121);
$oc-color-swatch-brand-default: rgb(4, 30, 66);
$oc-color-swatch-brand-hover: rgb(34, 57, 89);
$oc-color-swatch-danger-default: rgb(224, 0, 0);
$oc-color-swatch-danger-hover: rgb(233, 100, 100);
$oc-color-swatch-danger-muted: rgb(181, 0, 0);
$oc-color-swatch-inverse-default: rgb(255, 255, 255);
$oc-color-swatch-inverse-hover: rgb(255, 255, 255);
$oc-color-swatch-inverse-muted: rgb(191, 191, 191);
$oc-color-swatch-passive-default: rgb(76, 95, 121);
$oc-color-swatch-passive-hover: rgb(151, 162, 177);
$oc-color-swatch-passive-muted: rgb(40, 62, 93);
$oc-color-swatch-primary-default: rgb(74, 118, 172);
$oc-color-swatch-primary-hover: rgb(128, 167, 215);
$oc-color-swatch-primary-muted: rgb(44, 88, 142);
$oc-color-swatch-success-default: rgb(79, 130, 47);
$oc-color-swatch-success-hover: rgb(147, 224, 84);
$oc-color-swatch-success-muted: rgb(83, 150, 10);
$oc-color-swatch-warning-default: rgb(198, 80, 27);
$oc-color-swatch-warning-hover: rgb(253, 169, 75);
$oc-color-swatch-warning-muted: rgb(179, 81, 0);
$oc-color-text-default: rgb(4, 30, 66);
$oc-color-text-inverse: rgb(255, 255, 255);
$oc-color-text-muted: rgb(76, 95, 121);
$oc-font-size-default: 1rem;
$oc-font-size-large: 1.5rem;
$oc-font-size-medium: 1.25rem;
$oc-size-form-check-default: 16px;
$oc-size-height-small: 50px;
$oc-size-height-table-row: 49px;
$oc-size-icon-default: 24px;
$oc-size-max-height-logo: 65px;
$oc-size-max-width-logo: 150px;
$oc-size-width-medium: 300px;
$oc-space-large: 30px;
$oc-space-medium: 20px;
$oc-space-small: 10px;
$oc-space-xlarge: 50px;
$oc-space-xsmall: 5px;
$oc-space-xxlarge: 100px;
$oc-z-index-modal: 9999;

:root {
  --oc-breakpoint-large-default: #{$oc-breakpoint-large-default};
  --oc-breakpoint-large-max: #{$oc-breakpoint-large-max};
  --oc-breakpoint-medium-default: #{$oc-breakpoint-medium-default};
  --oc-breakpoint-medium-max: #{$oc-breakpoint-medium-max};
  --oc-breakpoint-small-default: #{$oc-breakpoint-small-default};
  --oc-breakpoint-small-max: #{$oc-breakpoint-small-max};
  --oc-breakpoint-xlarge: #{$oc-breakpoint-xlarge};
  --oc-breakpoint-xsmall-max: #{$oc-breakpoint-xsmall-max};
  --oc-color-background-default: #{$oc-color-background-default};
  --oc-color-background-highlight: #{$oc-color-background-highlight};
  --oc-color-background-muted: #{$oc-color-background-muted};
  --oc-color-border: #{$oc-color-border};
  --oc-color-input-bg: #{$oc-color-input-bg};
  --oc-color-input-border: #{$oc-color-input-border};
  --oc-color-input-text-default: #{$oc-color-input-text-default};
  --oc-color-input-text-muted: #{$oc-color-input-text-muted};
  --oc-color-swatch-brand-default: #{$oc-color-swatch-brand-default};
  --oc-color-swatch-brand-hover: #{$oc-color-swatch-brand-hover};
  --oc-color-swatch-danger-default: #{$oc-color-swatch-danger-default};
  --oc-color-swatch-danger-hover: #{$oc-color-swatch-danger-hover};
  --oc-color-swatch-danger-muted: #{$oc-color-swatch-danger-muted};
  --oc-color-swatch-inverse-default: #{$oc-color-swatch-inverse-default};
  --oc-color-swatch-inverse-hover: #{$oc-color-swatch-inverse-hover};
  --oc-color-swatch-inverse-muted: #{$oc-color-swatch-inverse-muted};
  --oc-color-swatch-passive-default: #{$oc-color-swatch-passive-default};
  --oc-color-swatch-passive-hover: #{$oc-color-swatch-passive-hover};
  --oc-color-swatch-passive-muted: #{$oc-color-swatch-passive-muted};
  --oc-color-swatch-primary-default: #{$oc-color-swatch-primary-default};
  --oc-color-swatch-primary-hover: #{$oc-color-swatch-primary-hover};
  --oc-color-swatch-primary-muted: #{$oc-color-swatch-primary-muted};
  --oc-color-swatch-success-default: #{$oc-color-swatch-success-default};
  --oc-color-swatch-success-hover: #{$oc-color-swatch-success-hover};
  --oc-color-swatch-success-muted: #{$oc-color-swatch-success-muted};
  --oc-color-swatch-warning-default: #{$oc-color-swatch-warning-default};
  --oc-color-swatch-warning-hover: #{$oc-color-swatch-warning-hover};
  --oc-color-swatch-warning-muted: #{$oc-color-swatch-warning-muted};
  --oc-color-text-default: #{$oc-color-text-default};
  --oc-color-text-inverse: #{$oc-color-text-inverse};
  --oc-color-text-muted: #{$oc-color-text-muted};
  --oc-font-size-default: #{$oc-font-size-default};
  --oc-font-size-large: #{$oc-font-size-large};
  --oc-font-size-medium: #{$oc-font-size-medium};
  --oc-size-form-check-default: #{$oc-size-form-check-default};
  --oc-size-height-small: #{$oc-size-height-small};
  --oc-size-height-table-row: #{$oc-size-height-table-row};
  --oc-size-icon-default: #{$oc-size-icon-default};
  --oc-size-max-height-logo: #{$oc-size-max-height-logo};
  --oc-size-max-width-logo: #{$oc-size-max-width-logo};
  --oc-size-width-medium: #{$oc-size-width-medium};
  --oc-space-large: #{$oc-space-large};
  --oc-space-medium: #{$oc-space-medium};
  --oc-space-small: #{$oc-space-small};
  --oc-space-xlarge: #{$oc-space-xlarge};
  --oc-space-xsmall: #{$oc-space-xsmall};
  --oc-space-xxlarge: #{$oc-space-xxlarge};
  --oc-z-index-modal: #{$oc-z-index-modal};
}
:host {
  --oc-breakpoint-large-default: #{$oc-breakpoint-large-default};
  --oc-breakpoint-large-max: #{$oc-breakpoint-large-max};
  --oc-breakpoint-medium-default: #{$oc-breakpoint-medium-default};
  --oc-breakpoint-medium-max: #{$oc-breakpoint-medium-max};
  --oc-breakpoint-small-default: #{$oc-breakpoint-small-default};
  --oc-breakpoint-small-max: #{$oc-breakpoint-small-max};
  --oc-breakpoint-xlarge: #{$oc-breakpoint-xlarge};
  --oc-breakpoint-xsmall-max: #{$oc-breakpoint-xsmall-max};
  --oc-color-background-default: #{$oc-color-background-default};
  --oc-color-background-highlight: #{$oc-color-background-highlight};
  --oc-color-background-muted: #{$oc-color-background-muted};
  --oc-color-border: #{$oc-color-border};
  --oc-color-input-bg: #{$oc-color-input-bg};
  --oc-color-input-border: #{$oc-color-input-border};
  --oc-color-input-text-default: #{$oc-color-input-text-default};
  --oc-color-input-text-muted: #{$oc-color-input-text-muted};
  --oc-color-swatch-brand-default: #{$oc-color-swatch-brand-default};
  --oc-color-swatch-brand-hover: #{$oc-color-swatch-brand-hover};
  --oc-color-swatch-danger-default: #{$oc-color-swatch-danger-default};
  --oc-color-swatch-danger-hover: #{$oc-color-swatch-danger-hover};
  --oc-color-swatch-danger-muted: #{$oc-color-swatch-danger-muted};
  --oc-color-swatch-inverse-default: #{$oc-color-swatch-inverse-default};
  --oc-color-swatch-inverse-hover: #{$oc-color-swatch-inverse-hover};
  --oc-color-swatch-inverse-muted: #{$oc-color-swatch-inverse-muted};
  --oc-color-swatch-passive-default: #{$oc-color-swatch-passive-default};
  --oc-color-swatch-passive-hover: #{$oc-color-swatch-passive-hover};
  --oc-color-swatch-passive-muted: #{$oc-color-swatch-passive-muted};
  --oc-color-swatch-primary-default: #{$oc-color-swatch-primary-default};
  --oc-color-swatch-primary-hover: #{$oc-color-swatch-primary-hover};
  --oc-color-swatch-primary-muted: #{$oc-color-swatch-primary-muted};
  --oc-color-swatch-success-default: #{$oc-color-swatch-success-default};
  --oc-color-swatch-success-hover: #{$oc-color-swatch-success-hover};
  --oc-color-swatch-success-muted: #{$oc-color-swatch-success-muted};
  --oc-color-swatch-warning-default: #{$oc-color-swatch-warning-default};
  --oc-color-swatch-warning-hover: #{$oc-color-swatch-warning-hover};
  --oc-color-swatch-warning-muted: #{$oc-color-swatch-warning-muted};
  --oc-color-text-default: #{$oc-color-text-default};
  --oc-color-text-inverse: #{$oc-color-text-inverse};
  --oc-color-text-muted: #{$oc-color-text-muted};
  --oc-font-size-default: #{$oc-font-size-default};
  --oc-font-size-large: #{$oc-font-size-large};
  --oc-font-size-medium: #{$oc-font-size-medium};
  --oc-size-form-check-default: #{$oc-size-form-check-default};
  --oc-size-height-small: #{$oc-size-height-small};
  --oc-size-height-table-row: #{$oc-size-height-table-row};
  --oc-size-icon-default: #{$oc-size-icon-default};
  --oc-size-max-height-logo: #{$oc-size-max-height-logo};
  --oc-size-max-width-logo: #{$oc-size-max-width-logo};
  --oc-size-width-medium: #{$oc-size-width-medium};
  --oc-space-large: #{$oc-space-large};
  --oc-space-medium: #{$oc-space-medium};
  --oc-space-small: #{$oc-space-small};
  --oc-space-xlarge: #{$oc-space-xlarge};
  --oc-space-xsmall: #{$oc-space-xsmall};
  --oc-space-xxlarge: #{$oc-space-xxlarge};
  --oc-z-index-modal: #{$oc-z-index-modal};
}
