.oc-thead {
  th {
    &[aria-sort] .oc-button-sort {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 0.65em 1em;
      cursor: pointer;
      display: inline;
      height: 1em;
      margin-left: var(--oc-space-xsmall);
      padding: 0;
      vertical-align: middle;
      width: 0.65em;
    }

    &[aria-sort='none'] .oc-button-sort {
      background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" stroke="white" stroke-width="12" width="101" height="101" preserveAspectRatio="none"%3E%3Cpath opacity=".3" d="M51 1l25 23 24 22H1l25-22zm0 100l25-23 24-22H1l25 22z"/%3E%3C/svg%3E');
    }

    &[aria-sort='descending'] .oc-button-sort {
      background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" stroke="white" stroke-width="12" width="101" height="101" preserveAspectRatio="none"%3E%3Cpath opacity=".3" d="M51 1l25 23 24 22H1l25-22z"/%3E%3Cpath d="M51 101l25-23 24-22H1l25 22z"/%3E%3C/svg%3E');
    }

    &[aria-sort='ascending'] .oc-button-sort {
      background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" stroke="white" stroke-width="12" width="101" height="101" preserveAspectRatio="none"%3E%3Cpath d="M51 1l25 23 24 22H1l25-22z"/%3E%3Cpath opacity=".3" d="M51 101l25-23 24-22H1l25 22z"/%3E%3C/svg%3E');
    }
  }
}
