.oc-thead {
  th {
    &[aria-sort] .oc-button-sort {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 0.65em 1em;
      cursor: pointer;
      display: inline;
      height: 1em;
      margin-left: var(--oc-space-xsmall);
      padding: 0;
      vertical-align: middle;
      width: 0.65em;
    }

    &[aria-sort="none"] .oc-button-sort {
      background: none;
    }

    &[aria-sort="descending"] {
      color: var(--oc-color-text-default);
    }

    &[aria-sort="descending"] .oc-button-sort {
      background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="101" height="101" preserveAspectRatio="none"%3E%3Cpath d="M 50,30 25,53 1,75 h 99 L 75,53 Z"/%3E%3C/svg%3E');
    }

    &[aria-sort="ascending"] {
      color: var(--oc-color-text-default);
    }

    &[aria-sort="ascending"] .oc-button-sort {
      background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="101" height="101" preserveAspectRatio="none"%3E%3Cpath d="M 51,75 76,52 100,30 H 1 l 25,22 z"/%3E%3C/svg%3E');
    }
  }
}
