.oc-tabbed {
  position: relative;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #ccd4e0;
  }

  [role="tab"] {
    @extend .oc-button-reset;
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
    color: #667fa3;
    border-bottom: 1px solid transparent;
    font-size: 0.875rem;
    text-transform: uppercase;
    transition: color 0.1s ease-in-out;

    &:focus {
      background-color: rgba(#002966, 0.25);
    }

    &[aria-selected="true"] {
      position: relative;
      color: #002966;
      border-color: #002966;
    }
  }
}
