.oc-tabbed {
  margin-bottom: 20px;
  position: relative;

  &::before {
    border-bottom: 1px solid var(--oc-variation-primary-muted);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
  }

  [role='tab'] {
    @extend .oc-button-reset;

    border-bottom: 1px solid transparent;
    color: var(--oc-color-muted);
    display: inline-block;
    font-size: 0.875rem;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: color 0.1s ease-in-out;

    &:focus {
      background-color: var(--oc-variation-primary-muted);
    }

    &[aria-selected='true'] {
      border-color: var(--oc-brand-primary);
      color: var(--oc-brand-primary);
      position: relative;
    }
  }
}
