.oc-tabbed {
  margin-bottom: 20px;
  position: relative;

  &::before {
    border-bottom: 1px solid #ccd4e0;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
  }

  [role='tab'] {
    @extend .oc-button-reset;

    border-bottom: 1px solid transparent;
    color: #667fa3;
    display: inline-block;
    font-size: 0.875rem;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: color 0.1s ease-in-out;

    &:focus {
      background-color: rgba(#002966, 0.25);
    }

    &[aria-selected='true'] {
      border-color: #002966;
      color: #002966;
      position: relative;
    }
  }
}
