.oc-dropdown-wrapper {
  display: inline-block;
  position: relative;
}

.oc-dropdown-menu {
  animation: oc-dropdown-open 0.2s ease;
  margin-top: 20px;
  padding: 20px;
  position: absolute;
  z-index: 10;
}

@keyframes oc-dropdown-open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
