$transition-duration-short: 200ms;
$navbar-nav-item-height: 60px;

$directions: ("t": "top", "r": "right", "b": "bottom", "l": "left", "x": ("right", "left"), "y": ("top", "bottom"));
$sizes: ("xs": $oc-space-xsmall, "s": $oc-space-small, "m": $oc-space-medium, "l": $oc-space-large, "xl": $oc-space-xlarge, "xxl": $oc-space-xxlarge);
