// Initialize CSS variables from new color scheme

:root {
  --oc-brand-primary: #{$brand-primary};
  --oc-brand-primary-hover: #{$brand-primary-hover};
  --oc-background: #{$background};
  --oc-background-muted: #{$background-muted};
  --oc-background-highlight: #{$background-highlight};
  --oc-color: #{$color};
  --oc-color-muted: #{$color-muted};
  --oc-color-inverse: #{$color-inverse};
  --oc-input-border: #{$input-border};
  --oc-input-background: #{$input-background};
  --oc-variation-primary: #{$variation-primary};
  --oc-variation-primary-hover: #{$variation-primary-hover};
  --oc-variation-primary-muted: #{$variation-primary-muted};
  --oc-variation-passive: #{$variation-passive};
  --oc-variation-passive-hover: #{$variation-passive-hover};
  --oc-variation-passive-muted: #{$variation-passive-muted};
  --oc-variation-success: #{$variation-success};
  --oc-variation-success-hover: #{$variation-success-hover};
  --oc-variation-success-muted: #{$variation-success-muted};
  --oc-variation-warning: #{$variation-warning};
  --oc-variation-warning-hover: #{$variation-warning-hover};
  --oc-variation-warning-muted: #{$variation-warning-muted};
  --oc-variation-danger: #{$variation-danger};
  --oc-variation-danger-hover: #{$variation-danger-hover};
  --oc-variation-danger-muted: #{$variation-danger-muted};
  --oc-border-primary: #{$border-primary};
}

$transition-duration-short: 200ms;

$navbar-nav-item-height: 60px;

$global-font-size: $font-size;

$global-font-family: 'Source Sans Pro', sans-serif;

$directions: ('t': 'top', 'r': 'right', 'b': 'bottom', 'l': 'left', 'x': ('right', 'left'), 'y': ('top', 'bottom'));
$sizes: ('xs': $space-xsmall, 's': $space-small, 'm': $space-medium, 'l': $space-large, 'xl': $space-xlarge, 'xxl': $space-xxlarge);
