$global-font-size: $font-size;
$global-background: $background;

$global-color: $color;
$global-emphasis-color: $emphasis-color;
$global-muted-color: $muted-color;

$global-link-color: $link-color;
$global-link-hover-color: $link-hover-color;

$global-muted-background: $muted-background;
$global-primary-background: $primary-background;
$global-secondary-background: $secondary-background;

$global-success-background: $success-background;
$global-warning-background: $warning-background;
$global-danger-background: $danger-background;

$global-border: #ccd4e0;

$navbar-nav-item-height: 60px;
