/**
 * Fade
 */
.fade-enter-active,
.fade-leave-active {
  transition: opacity $transition-duration-short ease-in-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/**
 * Push right
 */
.push-right-enter-active,
.push-right-leave-active {
  transition: width $transition-duration-short ease-in-out;
}

.push-right-enter,
.push-right-leave-to {
  width: 0 !important;
}