[hidden] {
  display: none;
}

// Directions
$directions: 'top', 'right', 'bottom', 'left';

.oc-cursor-pointer {
  cursor: pointer;
}

.oc-button-reset {
  background: transparent;
  border: 0;
  font: inherit;
  padding: 0;

  &::-moz-focus-inner {
    border: 0;
  }
}

.oc-align-self-center {
  align-self: center;
}

.oc-visually-hidden {
  @include visually-hidden;
}

.oc-border {
  border: $global-border-width solid $global-border !important;

  @each $direction in $directions {
    &-#{$direction} {
      border-#{$direction}: $global-border-width solid $global-border !important;
    }
  }
}

.oc-light {
  color: $global-inverse-color !important;
  fill: $global-inverse-color !important;
}
