[hidden] {
  display: none;
}

.oc-cursor-pointer {
  cursor: pointer;
}

.oc-button-reset {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  font: inherit;
  min-height: 0;
  padding: 0;

  &::-moz-focus-inner {
    border: 0;
  }
}

.oc-align-self-center {
  align-self: center;
}

.oc-border {
  border: $global-border-width solid var(--oc-border-primary) !important;

  @each $directionKey, $directionValues in $directions {
    &-#{$directionKey} {
      @each $direction in $directionValues {
        border-#{$direction}: $global-border-width solid var(--oc-border-primary) !important;
      }
    }
  }
}

.oc-light {
  color: var(--oc-color-inverse) !important;
  fill: var(--oc-color-inverse) !important;
}

.oc-text-bold {
  font-weight: 600 !important;
}
