.oc-login {
  @extend .uk-background-cover;

  position: relative;

  &-logo {
    @extend .uk-background-cover;

    height: 80px;
    left: 50%;
    position: absolute;
    text-indent: -9999px;
    transform: translate(-50%, -150%);
    width: 200px;
  }

  &-authorize-button {
    width: 100%;
  }

  &-card {
    @extend .uk-card;
    @extend .uk-card-default;
    @extend .uk-text-center;

    &-title {
      @extend .uk-card-title;
    }

    &-body {
      @extend .uk-card-body;

      p {
        @extend .uk-text-meta;
      }
    }

    &-footer {
      @extend .uk-card-footer;
      @extend .uk-text-small;
    }
  }
}
