@mixin hook-margin-misc() {
  .uk-margin-xsmall {
    margin-bottom: $xsmall-margin;
  }

  * + .uk-margin-xsmall {
    margin-top: $xsmall-margin !important;
  }

  .uk-margin-xsmall-top {
    margin-top: $xsmall-margin !important;
  }

  .uk-margin-xsmall-bottom {
    margin-bottom: $xsmall-margin !important;
  }

  .uk-margin-xsmall-left {
    margin-left: $xsmall-margin !important;
  }

  .uk-margin-xsmall-right {
    margin-right: $xsmall-margin !important;
  }
}
