.oc-main-menu {
  @extend .uk-nav;
  @extend .uk-nav-default;
  @extend .uk-nav-parent-icon;
  @extend .uk-margin-medium-top;

  .oc-icon {
    // 3px offset to align with line-height
    transform: translateY(3px);

    &,
    > svg {
      height: $global-font-size + 1 !important;
      width: $global-font-size + 1 !important;
    }

    > svg {
      fill: $global-color !important;
    }
  }
}
