.oc-accordion {
  list-style: none;
  padding: 0;

  &-item {
    & + & {
      margin-top: $space-medium;
    }

    &-expanded + & {
      margin-top: $space-xlarge;
    }
  }

  &-title {
    @extend .oc-mb-rm;

    display: block;
    font-size: $medium-font-size;
    margin-bottom: $space-small;

    > .oc-button,
    > .oc-button:hover,
    > .oc-button:focus {
      color: $color;
      outline: none;
      text-decoration: none;

      .oc-icon {
        transition-duration: 0.3s;

        &.rotate {
          transform: rotate(180deg);
        }

        > svg {
          fill: $color;
        }
      }
    }
  }

  &-content {
    padding-top: $space-small;
  }
}
