.oc-accordion {
  list-style: none;
  padding: 0;

  &-item + &-item {
    margin-top: $space-medium;
  }

  &-title {
    @extend .oc-mb-rm;

    display: block;
    font-size: $medium-font-size;

    > .oc-button,
    > .oc-button:hover,
    > .oc-button:focus {
      color: $color;
      outline: none;
      text-decoration: none;

      .oc-icon > svg {
        fill: $color;
      }
    }
  }

  &-content {
    margin-top: $space-small;
  }
}
