.oc-alert {
  &-passive {
    background-color: var(--oc-variation-passive-hover);

    svg,
    p {
      color: var(--oc-variation-passive);
    }
  }

  &-primary {
    background-color: var(--oc-variation-primary-hover);

    svg,
    p {
      color: var(--oc-variation-primary);
    }
  }

  &-success {
    background-color: var(--oc-variation-success-hover);

    svg,
    p {
      color: var(--oc-variation-success-muted);
    }
  }

  &-warning {
    background-color: var(--oc-variation-warning-hover);

    svg,
    p {
      color: var(--oc-variation-warning-muted);
    }
  }

  &-danger {
    background-color: var(--oc-variation-danger-hover);

    svg,
    p {
      color: var(--oc-variation-danger-muted);
    }
  }
}

// Transition: OC-Alerts-Transition

.oc-alerts-transition-enter,
.oc-alerts-transition-leave-to {
  opacity: 0;
}

.oc-alerts-transition-leave-to {
  transform: translateY(-$space-medium);
}

.oc-alert.oc-alerts-transition-leave-active {
  position: absolute;
}

// Fixes transition of margin for the second alert in case the first one gets closed
.oc-alerts-transition:first-child.oc-alerts-transition-leave-active + .oc-alert {
  margin-top: 0;
}
