@mixin oc-alert-variation ($color) {
  background-color: $color;

  svg,
  p {
    color: var(--oc-color-inverse) !important;
  }
}

.oc-alert {
  &-passive {
    @include oc-alert-variation(
      var(--oc-variation-passive)
    );
  }

  &-primary {
    @include oc-alert-variation(
      var(--oc-variation-primary)
    );
  }

  &-success {
    @include oc-alert-variation(
      var(--oc-variation-success)
    );
  }

  &-warning {
    @include oc-alert-variation(
      var(--oc-variation-warning)
    );
  }

  &-danger {
    @include oc-alert-variation(
      var(--oc-variation-danger)
    );
  }
}

// Transition: OC-Alerts-Transition

.oc-alerts-transition-enter,
.oc-alerts-transition-leave-to {
  opacity: 0;
}

.oc-alerts-transition-leave-to {
  transform: translateY(-$space-medium);
}

.oc-alert.oc-alerts-transition-leave-active {
  position: absolute;
}

// Fixes transition of margin for the second alert in case the first one gets closed
.oc-alerts-transition:first-child.oc-alerts-transition-leave-active + .oc-alert {
  margin-top: 0;
}
