.oc-autocomplete {
  @extend .uk-position-relative;

  &-dropdown {
    @extend .uk-box-shadow-medium;

    background: $global-background;
  }

  &-input {
    @extend .uk-input;
  }

  &-spinner {
    @extend .uk-position-absolute;

    left: $global-gutter;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &-suggestion {
    @extend .uk-margin-remove;

    color: $global-muted-color;
    padding: $global-small-gutter;

    &-list {
      @extend .uk-list;
      @extend .uk-margin-remove;

      &-loader {
        @extend .uk-position-relative;
        @extend .uk-text-meta;
        @extend .uk-margin-remove;

        background-color: $global-muted-background;
        padding: $global-small-gutter;
        padding-left: $spinner-size + $global-small-gutter * 2;
      }
    }

    &-selected,
    &:hover,
    &:focus {
      background-color: $global-primary-background;
      color: $global-inverse-color;
    }

    &-overflow {
      @extend .uk-text-meta;
      @extend .uk-margin-remove;

      background-color: $global-muted-background;
      cursor: pointer;
      padding: $global-small-gutter;
    }

    &-selected .uk-text-meta,
    &:hover .uk-text-meta,
    &:focus .uk-text-meta {
      color: $global-inverse-color;
    }

    &-selected .oc-icon > svg,
    &:hover .oc-icon > svg,
    &:focus .oc-icon > svg {
      fill: $global-inverse-color;
    }
  }
}
