@mixin oc-button-gap($factor) {
  gap: round($space-small * $factor / 2) * 2;
}

.oc-button {
  align-items: center;
  border-color: transparent;
  border-radius: 3px;
  display: flex;
  font-weight: 600;
  line-height: 1.4;
  padding: 0.5rem 0.75rem;
  text-align: center;
  transition:
    background-color $transition-duration-short ease-in-out,
    color $transition-duration-short ease-in-out,
    border-color $transition-duration-short ease-in-out;

  &-justify-content {
    &-left {
      justify-content: left;
    }

    &-center {
      justify-content: center;
    }

    &-right {
      justify-content: right;
    }

    &-space-between {
      justify-content: space-between;
    }

    &-space-around {
      justify-content: space-around;
    }

    &-space-evenly {
      justify-content: space-evenly;
    }
  }

  &-gap {
    &-xs {
      @include oc-button-gap(0.5);
    }

    &-s {
      @include oc-button-gap(0.7);
    }

    &-m {
      @include oc-button-gap(1);
    }

    &-l {
      @include oc-button-gap(1.5);
    }

    &-xl {
      @include oc-button-gap(2);
    }
  }

  &:hover {
    cursor: pointer;
  }

  .oc-icon > svg {
    transition: fill $transition-duration-short ease-in-out;
  }

  &-s {
    font-size: 0.9rem;
    min-height: $global-control-small-height;
  }

  &-m {
    font-size: 1.125rem;
    min-height: $global-control-height;
  }

  &-l {
    font-size: 1.5rem;
    min-height: $global-control-large-height;
  }

  &-primary,
  &-danger {
    .oc-icon > svg {
      fill: $global-inverse-color;
    }
  }

  &-default {
    background-color: transparent;
    border: 1px solid $action-primary;
    color: $action-primary;

    .oc-icon > svg {
      fill: $action-primary;
    }

    &:hover,
    &:focus {
      border-color: $action-primary-hover;
      color: $action-primary-hover;

      .oc-icon > svg {
        fill: $action-primary-hover;
      }
    }
  }

  &-primary {
    background-color: $action-primary;
    box-shadow: 0 4px 6px rgba($shadow-action-primary, 0.11), 0 1px 3px rgba($shadow-global, 0.08);
    color: $global-inverse-color;

    &:hover,
    &:focus {
      background-color: $action-primary-hover;
    }
  }

  &-danger {
    background-color: $danger-background;
    color: $global-inverse-color;

    &:hover,
    &:focus {
      background-color: $danger-background-hover;
    }
  }

  &:disabled {
    border-color: lighten($global-muted-color, 25%);
    color: lighten($global-muted-color, 25%);
    cursor: default;

    .oc-icon > svg {
      fill: lighten($global-muted-color, 25%);
    }
  }

  &-group {
    display: flex;
    flex-flow: row wrap;

    .oc-button {
      border-radius: 0;

      &:first-of-type {
        border-radius: 3px 0 0 3px;
      }

      &:last-of-type {
        border-radius: 0 3px 3px 0;
      }

      &-default {
        border-left: 0;
        border-right: 0;

        &:first-of-type {
          border-left: 1px solid $action-primary;
        }

        &:last-of-type {
          border-right: 1px solid $action-primary;
        }
      }

      &-primary {
        box-shadow: none;
      }
    }
  }

  &.oc-button-raw {
    @extend .oc-button-reset;

    color: $action-primary;

    &:hover,
    &:focus {
      color: $action-primary-hover;
    }
  }
}
