.vdatetime {
  &-input {
    @extend .uk-input;

    background-color: var(--oc-color-input-bg);
    border: 1px solid var(--oc-color-input-border);
    border-radius: 3px;
    color: var(--oc-color-text-default);

    &:focus {
      background-color: var(--oc-color-input-bg);
      border-color: var(--oc-color-swatch-brand-default);
      color: var(--oc-color-text-default);
    }
  }

  &-overlay {
    @extend .uk-position-cover;

    background-color: rgba(100, 100, 100, 0.3);
  }

  &-time-picker {
    &,
    * {
      box-sizing: border-box;
    }

    &::after {
      clear: both;
      content: "";
      display: table;
    }

    &__list {
      @extend .uk-height-medium;

      float: left;
      overflow-y: scroll;
      width: 50%;
    }

    &__with-suffix .vdatetime-time-picker__list {
      width: 33.3%;
    }

    &__item {
      @extend .oc-p-s;
      @extend .uk-text-center;
      @extend .uk-text-large;

      cursor: pointer;

      &:not(.vdatetime-time-picker__item--selected):hover {
        @extend .uk-background-muted;
      }

      &--selected {
        background-color: var(--oc-color-swatch-brand-default);
        color: var(--oc-color-text-inverse);
      }
    }
  }

  &-year-picker,
  &-month-picker {
    &,
    * {
      box-sizing: border-box;
    }

    &::after {
      clear: both;
      content: "";
      display: table;
    }

    &__list {
      @extend .uk-height-medium;

      overflow-y: scroll;

      // @TODO: Class missing from ODS
      // @extend .uk-width-1-1;
      width: 100%;
    }

    &__item {
      @extend .oc-p-s;
      @extend .uk-text-center;
      @extend .uk-text-large;

      cursor: pointer;

      &:not(.vdatetime-year-picker__item--selected):not(.vdatetime-month-picker__item--selected):hover {
        @extend .uk-background-muted;
      }

      &--selected {
        @extend .uk-background-primary;

        color: var(--oc-color-text-inverse);
      }
    }
  }

  &-popup {
    @extend .uk-position-fixed;
    @extend .uk-position-center;
    @extend .uk-box-shadow-large;
    @extend .uk-background-default;

    z-index: var(--oc-z-index-modal);

    * {
      box-sizing: border-box;
    }

    &__header {
      @extend .uk-modal-header;

      background-color: var(--oc-color-swatch-brand-default);

      // @TODO: uk-light not working
      // @extend .uk-light;
      width: $width-large-width / 1.125;
    }

    &__year {
      @extend .uk-text-small;

      color: var(--oc-color-text-inverse);
      cursor: pointer;
      transition: color $animation-duration;

      &:hover {
        color: var(--oc-color-text-inverse) !important;
        opacity: 1;
      }
    }

    &__title {
      @extend .uk-text-center;
      @extend .uk-heading-divider;
      @extend .oc-mb-s;

      color: var(--oc-color-text-inverse) !important;
    }

    &__date {
      @extend .uk-text-lead;

      color: var(--oc-color-text-inverse) !important;
      cursor: pointer;
      line-height: 1;
    }

    &__actions {
      @extend .uk-modal-footer;
      @extend .uk-text-right;

      &__button {
        @extend .uk-button;

        &--confirm {
          @extend .uk-button-primary;

          background-color: var(--oc-color-swatch-brand-default);
        }

        &--cancel {
          @extend .uk-button-default;
        }
      }
    }
  }

  &-calendar {
    &__navigation {
      @extend .uk-flex, .uk-flex-middle, .uk-flex-around;

      &--previous,
      &--next {
        @extend .uk-width-auto;
        @extend .oc-p-s;

        cursor: pointer;

        svg {
          width: 8px;
        }
      }

      &--next {
        transform: rotate(180deg);
      }
    }

    &__current--month {
      @extend .uk-width-expand;
      @extend .uk-text-center;
      @extend .uk-text-uppercase;
    }

    &__month {
      @extend .uk-modal-body;

      transition: height $animation-duration;

      &__weekday,
      &__day {
        @extend .uk-display-inline-block;
        @extend .uk-text-center;

        cursor: pointer;
        width: 14.28571%;

        > span {
          @extend .uk-display-block;
          @extend .uk-position-relative;

          height: 0;
          overflow: hidden;
          padding: 0 0 100%;
          width: 100%;

          > span {
            @extend .uk-position-cover;
            @extend .uk-border-circle;
            @extend .uk-flex, .uk-flex-center, .uk-flex-middle;

            transition: background-color ($animation-duration / 2), color ($animation-duration / 2);
          }
        }
      }

      &__day {
        &--selected > span > span,
        &--selected:hover > span > span {
          background-color: var(--oc-color-swatch-brand-default);
          color: var(--oc-color-text-inverse);
        }

        &:hover > span > span {
          @extend .uk-background-muted;
        }
      }

      &__weekday {
        @extend .oc-text-bold;
      }
    }
  }

  [class$="--disabled"] {
    cursor: not-allowed;

    &,
    * {
      background-color: var(--oc-color-background-default) !important;
      color: var(--oc-color-text-muted) !important;
    }
  }
}

.oc-datepicker {
  &-description input,
  &-description:focus input {
    border-color: var(--oc-color-text-muted);
  }

  &-description,
  &-description:focus {
    color: var(--oc-color-text-muted);
  }

  &-message {
    @extend .uk-flex;
    @extend .uk-flex-middle;
    @extend .oc-mt-xs;

    min-height: $oc-font-size-default * 1.5;
  }
}

// Animation
.vdatetime-fade-enter-active,
.vdatetime-fade-leave-active {
  transition: opacity $animation-duration;
}

.vdatetime-fade-enter,
.vdatetime-fade-leave-to {
  opacity: 0;
}
