//
// Component: OC File
//
// ========================================================================

.oc-file {
  @extend .uk-position-relative;
  cursor: pointer;

  &-name {
    color: $global-color;
    padding-left: $global-gutter;
  }

  &-extension {
    @extend .uk-text-meta;
  }

  &:hover {
    .oc-file-name {
      text-decoration: $button-link-hover-text-decoration;
    }
  }
}
