.oc-file-actions {
  @extend .uk-offcanvas;

  &.uk-offcanvas-bottom {
    height: 100vh;
    left: auto;
  }

  > .uk-offcanvas-bar {
    background: var(--oc-color-swatch-light-default);
    top: auto;
    transform: translateX(0) translateY(100%);
    width: 100vw;

    .oc-icon > svg {
      fill: var(--oc-color-swatch-passive-default);
    }
  }

  &.uk-open > .uk-offcanvas-bar {
    transform: translateX(0) translateY(0);
  }
}
