//
// Component: OC File
//
// ========================================================================

.oc-file {
  @extend .uk-position-relative;
  cursor: pointer;

  &-name {
    color: $global-color;
  }

  &-extension {
    @extend .uk-text-meta;
  }

  // TODO: how to define this value? a design token?
  &-first-row {
    padding-left: 50px;
  }
  &-second-row {
    padding-left: 50px;
  }
  &-single-row {
    padding-left: 50px;
  }

  &:hover {
    .oc-file-name {
      text-decoration: $button-link-hover-text-decoration;
    }
  }
}
