.oc-file-actions {
  @extend .uk-offcanvas;

  &.uk-offcanvas-bottom {
    height: 100vh;
    left: auto;
  }

  > .uk-offcanvas-bar {
    background: $global-muted-background;
    top: auto;
    transform: translateX(0) translateY(100%);
    width: 100vw;

    .oc-icon > svg {
      fill: $system-icon-color;
    }
  }

  &.uk-open > .uk-offcanvas-bar {
    transform: translateX(0) translateY(0);
  }
}
