//
// Component: OcIcon
//
// ========================================================================

$oc-icon-size: 24px;

@mixin oc-icon-size($factor) {
  height: $oc-icon-size * $factor;
  width: $oc-icon-size * $factor;
}

.oc-icon {
  // SVG wrapper
  display: inline-block;
  vertical-align: baseline;

  svg {
    display: block;
    fill: $global-color;
  }

  &,
  > svg {
    @include oc-icon-size(1);
  }

  &-xsmall {
    &,
    > svg {
      @include oc-icon-size(0.7);
    }
  }

  &-medium {
    &,
    > svg {
      @include oc-icon-size(1.5);
    }
  }

  &-large {
    &,
    > svg {
      @include oc-icon-size(2);
    }
  }

  &-xlarge {
    &,
    > svg {
      @include oc-icon-size(4);
    }
  }

  &-xxlarge {
    &,
    > svg {
      @include oc-icon-size(8);
    }
  }

  // Variations

  &-active > svg {
    fill: $active-icon-color;
  }

  &-passive > svg {
    fill: $passive-icon-color;
  }

  &-file-type > svg {
    fill: $filetype-icon-color;
  }

  &-system > svg {
    fill: $system-icon-color;
  }

  &-muted > svg {
    fill: $global-muted-background;
  }

  &-inverted > svg {
    fill: $global-inverse-color;
  }

  &-warning > svg {
    fill: $global-warning-background;
  }

  &-success > svg {
    fill: $global-success-background;
  }

  &-danger > svg {
    fill: $global-danger-background;
  }
}

@mixin hook-inverse() {
  .oc-icon > svg {
    fill: $global-inverse-color;
  }
}
