//
// Component: OcIcon
//
// ========================================================================

@mixin oc-icon-size($factor) {
  height: $icons-size-default * $factor;
  max-height: $icons-size-default * $factor;
  max-width: $icons-size-default * $factor;
  width: $icons-size-default * $factor;
}

.oc-icon {
  // SVG wrapper
  display: inline-block;
  vertical-align: baseline;

  svg {
    display: block;
    fill: $global-color;
  }

  &,
  > svg {
    @include oc-icon-size(1);
  }

  &-xs {
    &,
    > svg {
      @include oc-icon-size(0.5);
    }
  }

  &-s {
    &,
    > svg {
      @include oc-icon-size(0.7);
    }
  }

  &-m {
    &,
    > svg {
      @include oc-icon-size(1);
    }
  }

  &-l {
    &,
    > svg {
      @include oc-icon-size(1.5);
    }
  }

  &-xl {
    &,
    > svg {
      @include oc-icon-size(2);
    }
  }

  &-xxl {
    &,
    > svg {
      @include oc-icon-size(4);
    }
  }

  &-xxxl {
    &,
    > svg {
      @include oc-icon-size(8);
    }
  }

  // Variations

  &-active > svg {
    fill: $active-icon-color;
  }

  &-passive > svg {
    fill: $passive-icon-color;
  }

  &-system > svg {
    fill: $system-icon-color;
  }

  &-muted > svg {
    fill: $global-muted-background;
  }

  &-inverted > svg {
    fill: $global-inverse-color;
  }

  &-warning > svg {
    fill: $global-warning-background;
  }

  &-success > svg {
    fill: $global-success-background;
  }

  &-danger > svg {
    fill: $global-danger-background;
  }
}

@mixin hook-inverse() {
  .oc-icon > svg {
    fill: $global-inverse-color;
  }
}
