.oc-input {
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 0;
  box-sizing: border-box;
  color: #666;
  display: inline-block;
  font: inherit;
  height: 40px;
  line-height: inherit;
  margin: 0;
  max-width: 100%;
  overflow: visible;
  padding: 0 10px;
  transition: 0.2s ease-in-out;
  transition-property: all;
  transition-property: color, background-color, border;
  vertical-align: middle;
  width: 100%;
}

.oc-input:not(input) {
  line-height: 38px;
}
