.oc-loader {
  @extend .uk-progress;
  @extend .uk-position-relative;

  &-flat {
    border-radius: 0 !important;
    height: 5px !important;
  }

  &::after {
    @extend .uk-position-absolute;
    @extend .uk-display-block;

    background: var(--oc-color-text-muted);
    content: "";
    height: 100%;
    width: 0;

    animation: {
      duration: $spinner-duration;
      iteration-count: infinite;
      name: oc-loader;
    }
  }
}

@keyframes oc-loader {
  0% {
    left: 0;
    width: 0;
  }

  50% {
    left: 0;
    width: 66%;
  }

  100% {
    left: 100%;
    width: 10%;
  }
}
