.oc-modal {
  border-radius: 8px;
  border-top: 10px solid var(--oc-variation-passive);
  box-shadow: 0 2px 4px rgba(14, 30, 37, 0.25);
  max-width: 500px;
  overflow: hidden;
  width: 100%;

  &:focus {
    outline: none;
  }

  &-background {
    align-items: center;
    background-color: rgba(100, 100, 100, 0.3);
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
  }

  &-primary {
    border-top-color: var(--oc-variation-primary);
  }

  &-success {
    border-top-color: var(--oc-variation-success);
  }

  &-warning {
    border-top-color: var(--oc-variation-warning);
  }

  &-danger {
    border-top-color: var(--oc-variation-danger);
  }

  &-title {
    align-items: center;
    background-color: var(--oc-color-inverse);
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    padding: $space-small $space-medium;

    > .oc-icon {
      margin-right: $space-small;
    }
  }

  &-danger > &-title {
    color: var(--oc-variation-danger);
  }

  &-body {
    background-color: var(--oc-background);
    color: var(--oc-color);
    padding: $space-medium;

    &-message {
      margin-bottom: $space-medium;
    }

    &-input {
      /* FIXME: this is ugly, but required so that the bottom padding doesn't look off when reserving vertical space for error messages below the input. */
      margin-bottom: -20px;
      padding-bottom: $space-medium;
    }

    &-actions {
      text-align: right;

      .oc-button {
        border-radius: 4px;

        &.uk-button-default {
          background-color: var(--oc-color-inverse);
          color: var(--oc-color);
        }
      }
    }
  }
}
