$progress-height: 15px !default;
$progress-height-small: 5px !default;

.oc-progress {
  // Remove default style
  -webkit-appearance: none;
  -moz-appearance: none;
  // Set background color for progress container in Firefox, IE11 and Edge
  background-color: var(--oc-color-inverse);
  // Remove default style
  border: 0;
  display: block;
  height: $progress-height;
  // Add the correct vertical alignment in Chrome, Firefox, and Opera.
  width: 100%;

  &:focus {
    outline: none;
  }

  // Remove animated circles for indeterminate state in IE11 and Edge
  &:indeterminate {
    color: transparent;
  }

  &::-webkit-progress-bar {
    background-color: var(--oc-color-inverse);
  }

  &::-moz-progress-bar {
    background-color: var(--oc-variation-passive);
  }

  // Remove progress bar for indeterminate state in Firefox
  &:indeterminate::-moz-progress-bar {
    width: 0;
  }

  &::-webkit-progress-value {
    background-color: var(--oc-variation-passive);
    transition: width $transition-duration-short ease;
  }

  &::-ms-fill {
    background-color: var(--oc-variation-passive);
    // Remove right border in IE11 and Edge
    border: 0;
    transition: width $transition-duration-short ease;
  }

  &-small {
    height: $progress-height-small;
  }

  &-primary {
    &::-webkit-progress-value,
    &::-moz-progress-bar,
    &::-ms-fill {
      background-color: var(--oc-variation-primary);
    }
  }

  &-success {
    &::-webkit-progress-value,
    &::-moz-progress-bar,
    &::-ms-fill {
      background-color: var(--oc-variation-success);
    }
  }

  &-warning {
    &::-webkit-progress-value,
    &::-moz-progress-bar,
    &::-ms-fill {
      background-color: var(--oc-variation-warning);
    }
  }

  &-danger {
    &::-webkit-progress-value,
    &::-moz-progress-bar,
    &::-ms-fill {
      background-color: var(--oc-variation-danger);
    }
  }
}
