.oc-sidebar {
  background-color: $brand-primary;
  box-sizing: border-box;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden auto;
  padding: $large-gutter 0 $gutter;
  width: $width-medium;

  &-content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: $width-medium;
    width: $width-medium;
  }

  &-logo {
    margin-bottom: $large-margin;
    padding: 0 $small-gutter;
    text-align: center;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &-img {
      height: $height-small;
    }

    &-text {
      @extend .uk-text-lead;
      @extend .oc-light;
    }
  }

  &-upper-content {
    padding: 0 $small-gutter $gutter;
  }

  &-nav {
    flex: 1;

    > ul {
      margin: 0;
      padding: 0;
    }
  }

  &-nav-item {
    transition: background-color 0.3s ease-in-out;

    &:hover,
    &:focus {
      background-color: lighten($brand-primary, 5);
    }

    > a,
    > a > .oc-icon > svg {
      @extend .oc-light;
    }

    > a {
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      font-size: 1.125rem;
      font-weight: 600;
      padding: $small-gutter;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    .oc-icon {
      margin-right: $small-margin;
    }

    &.uk-active {
      background-color: lighten($brand-primary, 5);

      // Vue doesn't allow navigating to active route so we do not use pointer as it might mislead users
      > a:hover {
        cursor: default;
      }
    }
  }

  &-main-content {
    color: $global-inverse-color;
    padding: 0 $small-gutter $gutter;
  }

  &-footer {
    padding: 0 $small-gutter;
  }

  &-fixed {
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 3;
  }

  &-fixed &-button-close {
    position: absolute;
    right: $small-gutter;
    top: $small-gutter;

    .oc-icon > svg {
      @extend .oc-light;
    }
  }

  &-fixed &-content-wrapper {
    max-width: 100vw;
    width: 100vw;
  }

  &-fixed &-logo {
    margin-top: $medium-margin;
  }
}
