[oc-scroll],
[oc-scroll-offset] {
  @extend .uk-overflow-auto;
  //                         Height of oc-top-bar
  max-height: calc(100vh - #{$navbar-nav-item-height});
}

[oc-scroll-offset*=".oc-app-bar"] {
  //        Height of oc-top-bar      height of oc-app-bar      added padding
  $offset: $navbar-nav-item-height + $global-control-height + $oc-space-medium;

  max-height: calc(100vh - #{$offset});
}
