//
// Component: OC Switch
//
// ========================================================================

.oc-switch {
  display: block;
  height: $form-radio-size;
  position: relative;
  transition: background-color 0.25s;
  width: $form-radio-size * 1.75;

  &,
  * {
    cursor: pointer;
  }

  > input[type='checkbox'] {
    display: none;
  }

  &::before {
    background-color: $global-inverse-color;
    content: '';
    height: $form-radio-size - 2;
    position: absolute;
    transform: translate(1px, 1px);
    transition: transform 0.25s;
    width: $form-radio-size - 2;
  }

  &[data-state='off'] {
    background-color: lighten($global-muted-color, 10%);

    &::before {
      transform: translate(1px, 1px);
    }
  }

  &[data-state='on'] {
    background-color: $global-primary-background;

    &::before {
      transform: translate(calc(100% - 1px), 1px);
    }
  }
}
