.oc-switch {
  display: block;
  height: $form-radio-size;
  position: relative;
  transition: background-color 0.25s;
  width: $form-radio-size * 1.75;

  &,
  * {
    cursor: pointer;
  }

  > input[type='checkbox'] {
    display: none;
  }

  &::before {
    background-color: var(--oc-color-inverse);
    content: '';
    height: $form-radio-size - 2;
    position: absolute;
    transform: translate(1px, 1px);
    transition: transform 0.25s;
    width: $form-radio-size - 2;
  }

  &[data-state='off'] {
    background-color: var(--oc-color-muted);

    &::before {
      transform: translate(1px, 1px);
    }
  }

  &[data-state='on'] {
    background-color: var(--oc-brand-primary);

    &::before {
      transform: translate(calc(100% - 1px), 1px);
    }
  }
}
