.oc-search {
  @extend .uk-grid-collapse;
  @extend .uk-flex-middle;

  min-width: $form-width-medium;

  &-button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    // Prevend double borders
    // from input and button
    transform: translateX(-1px);
    z-index: 0;
  }

  &-input {
    @extend .uk-input;

    background-color: $input-background;
    border: 1px solid $input-border;
    border-radius: 3px;
    padding-right: $space-medium;

    &:focus {
      background-color: $input-background;
      border-color: $brand-primary;
    }

    &::-ms-clear,
    &::-ms-reveal {
      display: none;
    }
  }

  &-input-icon {
    padding-left: $space-large + $space-small;
  }

  &-input-button {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  &-small {
    .oc-search-input {
      @extend .uk-form-small;

      // Overrride default padding of small from
      // TODO: Remove `!important` after we get rid of UIkit
      padding-right: $space-medium !important;
    }

    .oc-search-input-icon {
      // TODO: Remove `!important` after we get rid of UIkit
      padding-left: $space-large !important;
    }

    .oc-button {
      @extend .oc-button-s;
    }

    .oc-icon {
      &,
      svg {
        height: 18px;
        width: 18px;
      }
    }
  }
}
