//
// Component: OcSpinner
//
// ========================================================================

$oc-spinner-size: 24px;
@mixin oc-spinner-size($factor) {
  width: $oc-spinner-size * $factor;
  height: $oc-spinner-size * $factor;
}

.oc-spinner {
  display: inline-block;
  color: $global-color;

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid currentColor;
    border-bottom-color: transparent;
    border-radius: 100%;
    background: transparent;
    animation: ball-clip-rotate 1s linear infinite;
  }

  &,
  &:after {
    position: relative;
    box-sizing: border-box;
  }

  &,
  &-small {
    @include oc-spinner-size(1);
  }

  &-xsmall {
    @include oc-spinner-size(0.7);
  }

  &-medium {
    @include oc-spinner-size(1.5);
  }

  &-large {
    @include oc-spinner-size(2);
  }

  &-xlarge {
    @include oc-spinner-size(4);
  }

  &-xxlarge {
    @include oc-spinner-size(8);
  }
}

@keyframes ball-clip-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
