.oc-search {
  @extend .uk-grid-collapse;
  @extend .uk-flex-middle;

  min-width: $form-width-medium;

  &-button {
    // Prevend double borders
    // from input and button
    transform: translateX(-1px);
    z-index: 0;
  }

  &-input > .oc-text-input {
    padding-right: $medium-gutter;

    &::-ms-clear,
    &::-ms-reveal {
      display: none;
    }
  }

  &-input-icon > .oc-text-input {
    padding-left: $medium-gutter;
  }

  &-clear {
    cursor: pointer;
  }

  &-small {
    .oc-search-input > .oc-text-input {
      @extend .uk-form-small;

      // Overrride default padding of small from
      // TODO: Remove `!important` after we get rid of UIkit
      padding-right: $medium-gutter !important;
    }

    .oc-search-input-icon > .oc-text-input {
      // TODO: Remove `!important` after we get rid of UIkit
      padding-left: $medium-gutter !important;
    }

    .oc-button {
      @extend .uk-button-small;
    }

    .oc-icon {
      &,
      svg {
        height: 18px;
        width: 18px;
      }
    }
  }
}
