.oc-sidebar {
  background-color: var(--oc-brand-primary);
  box-sizing: border-box;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden auto;
  padding: $space-large 0 $space-medium;
  width: $width-medium;

  &-content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: $width-medium;
    width: $width-medium;
  }

  &-logo {
    color: var(--oc-color-inverse);
    margin-bottom: $space-xxlarge;
    padding: 0 $space-small;
    text-align: center;

    &:hover,
    &:focus {
      color: var(--oc-color-inverse);
      text-decoration: none;
    }

    &-img {
      height: $height-small;
    }

    &-text {
      @extend .uk-text-lead;
      @extend .oc-light;
    }
  }

  &-upper-content {
    padding: 0 $space-small $space-medium;
  }

  &-nav {
    flex: 1;

    > ul {
      margin: 0;
      padding: 0;
    }
  }

  &-nav-item {
    transition: background-color 0.3s ease-in-out;

    &:hover,
    &:focus {
      background-color: var(--oc-brand-primary-hover);
    }

    > a,
    > a > .oc-icon > svg {
      @extend .oc-light;
    }

    > a {
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      font-size: 1.125rem;
      font-weight: 600;
      padding: $space-small;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    .oc-icon {
      margin-right: $space-medium;
    }

    &.uk-active {
      background-color: var(--oc-brand-primary-hover);

      // Vue doesn't allow navigating to active route so we do not use pointer as it might mislead users
      > a:hover {
        cursor: default;
      }
    }
  }

  &-main-content {
    color: var(--oc-color-inverse);
    padding: 0 $space-small $space-medium;
  }

  &-footer {
    padding: 0 $space-small;
  }

  &-fixed {
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 3;
  }

  &-fixed &-button-close {
    position: absolute;
    right: $space-small;
    top: $space-small;

    .oc-icon > svg {
      @extend .oc-light;
    }
  }

  &-fixed &-content-wrapper {
    max-width: 100vw;
    width: 100vw;
  }

  &-fixed &-logo {
    margin-top: $space-medium;
  }
}
