body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--oc-color-text-default);
}

html * {
  font-family: Roboto, sans-serif;
}

a {
  color: var(--oc-color-swatch-primary-default);
  text-decoration: none;

  &:hover {
    color: var(--oc-color-swatch-primary-hover);
  }
}

.oc-text-bold {
  font-weight: 600 !important;
}

.oc-text-muted {
  color: var(--oc-color-text-muted);
}

.oc-heading-divider {
  border-bottom: calc(0.2px + 0.05em) solid var(--oc-color-border);
  padding-bottom: calc(5px + 0.1em);
}

/*
 * Prevent text from wrapping onto multiple lines
 */
.oc-text-nowrap {
  white-space: nowrap;
}

/*
 * Truncate text with an ellipsis if it's exceeding the available width
 */
.oc-text-overflow,
.oc-text-truncate {
  max-width: 100%;
  overflow: hidden;
}

.oc-text-truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
}

th.oc-text-truncate,
td.oc-text-truncate {
  max-width: 0;
}

/*
 * Wrap long words onto the next line and break them if they are too long to fit
 */
.oc-text-break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: unset;
}

th.oc-text-break,
td.oc-text-break {
  word-break: break-all;
}

.oc-text-meta {
  color: var(--oc-color-text-muted);
  font-size: 0.875rem;
  line-height: 1.4;
}

.oc-text-initial {
  font-size: 1rem;
}

.oc-text-small {
  font-size: 0.875rem;
  line-height: 1.5;
}

.oc-text-normal {
  font-weight: 400;
}

.oc-text-large {
  font-size: 1.5rem;
  line-height: 1.5;
}

.oc-text-lead {
  color: var(--oc-color-text-default);
  font-size: 1.5rem;
  line-height: 1.5;
}

.oc-text-center {
  text-align: center;
}

.oc-text-left {
  text-align: left;
}

.oc-text-right {
  text-align: right;
}

.oc-text-uppercase {
  text-transform: uppercase !important;
}
