.oc-topbar {
  @extend .uk-navbar-container;
  @extend .uk-navbar-transparent;
  @extend .uk-background-primary;

  height: $navbar-nav-item-height;

  // Force inverse color,
  // without forcing it too hard
  .uk-navbar-item.uk-navbar-item {
    color: $global-inverse-color;
  }

  &-menu {
    &-burger {
      background: transparent;
      border: 0 none;
      cursor: pointer;

      &-icon svg {
        fill: $global-inverse-color !important;
      }

      &-label {
        @extend .uk-visible\@m;
        @extend .oc-ml-s;
      }
    }
  }

  &-icon {
    @extend .uk-navbar-item;

    text-indent: -9999px;
    width: 100px;
    background: {
      position: center center;
      repeat: no-repeat;
      size: calc(100% - #{$space-medium}) auto;
    }
  }

  &-personal {
    @extend .uk-navbar-item;
    // IE11 center fix
    min-height: 100% !important;

    &-avatar {
      height: $navbar-nav-item-height - $space-medium;
      width: $navbar-nav-item-height - $space-medium;
    }

    &-label {
      @extend .uk-visible\@m;
      @extend .oc-ml-s;
    }
  }
}
