/*
 * Prevent text from wrapping onto multiple lines
 */
.oc-text-nowrap { white-space: nowrap; }

/*
 * Truncate text with an ellipsis if it's exceeding the available width
 */
.oc-text-overflow,
.oc-text-truncate {
  max-width: 100%;
  overflow: hidden;
}
.oc-text-truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
}
th.oc-text-truncate,
td.oc-text-truncate { max-width: 0; }

/*
 * Wrap long words onto the next line and break them if they are too long to fit
 */
.oc-text-break {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
th.oc-text-break,
td.oc-text-break { word-break: break-all; }
