//
// Component: OC Text Input
//
// ========================================================================

.oc-text-input {
  @extend .uk-input;
}

.oc-text-input-warning,
.oc-text-input-warning:focus {
  border-color: $warning-background !important;
  color: $warning-background !important;
}

.oc-text-input-danger,
.oc-text-input-danger:focus {
  border-color: $danger-background !important;
  color: $danger-background !important;
}

.oc-text-input-message {
  @extend .uk-flex;
  @extend .uk-flex-middle;
  @extend .uk-margin-xsmall-top;

  min-height: $global-font-size * 1.5;
}
