/**
 * Fade
 */
.fade-enter-active,
.fade-leave-active {
  transition: opacity $transition-duration-short ease-in-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/**
 * Push
 */
.push-right-enter-active,
.push-right-leave-active {
  transition: width $transition-duration-short ease-in-out;
}

.push-right-enter,
.push-right-leave-to {
  width: 0 !important;
}

.push-y-enter-active,
.push-y-leave-active {
  overflow: hidden !important;
  transition: max-height $transition-duration-short ease-in-out;
}

.push-y-enter,
.push-y-leave-to {
  max-height: 0 !important;
}
