//
// Component: OC Text Input
//
// ========================================================================

// TODO: Move to .oc-text-input when we get rid of UIKit
@mixin hook-form {
  background-color: $input-background;
  border: 1px solid $input-border;
  border-radius: 3px;
}

@mixin hook-form-focus {
  background-color: $input-background;
  border-color: $brand-primary;
}

.oc-text-input {
  @extend .uk-input;
}

.oc-text-input-warning,
.oc-text-input-warning:focus {
  border-color: $warning-background !important;
  color: $warning-background !important;
}

.oc-text-input-danger,
.oc-text-input-danger:focus {
  border-color: $danger-background !important;
  color: $danger-background !important;
}

.oc-text-input-message {
  @extend .uk-flex;
  @extend .uk-flex-middle;
  @extend .oc-mt-xs;

  min-height: $global-font-size * 1.5;
}
