.oc-user-menu {
  @extend .uk-navbar-dropdown;
  @extend .uk-background-secondary;

  &::before {
    content: "";
    height: 0;
    position: absolute;
    width: 0;
  }

  ul {
    @extend .uk-nav;
    @extend .uk-navbar-dropdown-nav;
  }

  li {
    @extend .uk-flex;
    @extend .uk-flex-middle;

    cursor: pointer;
    opacity: 0.75;
    transition: opacity 0.5s;

    &._is_active,
    &:hover {
      opacity: 1;
    }

    &:not(:last-child) {
      @extend .oc-mb-s;
    }

    span {
      color: var(--oc-color-text-inverse);
    }

    .material-icons {
      @extend .oc-mr-s;

      color: var(--oc-color-text-inverse);
    }
  }
}
